.wrapper {
  position: absolute;
  z-index: 1000;
}

.topLeft {
  top: 20px;
  /* left: 20px; */
}

.bottomLeft {
  bottom: 20px;
  /* left: 20px; */
}

.toast {
  border: 2px solid transparent;
  background-color: #fafafa;
  border-radius: 4px;
  max-width: 480px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
  margin-top: 16px;
  display: flex;
  position: relative;
  cursor: default;
  animation: linear forwards alternate;
  animation-name: open;
  animation-duration: 0.3s;
}

.toast p {
  margin: 0;
}

.text {
  padding: 16px 24px;
  line-height: 1.4;
  color: black;
}

.closeBtn {
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  height: -moz-fit-content;
  height: fit-content;
}

.closeBtn:hover {
  font-size: 18px;
  margin-right: 7px;
  margin-top: 7px;
}

@keyframes open {
  0% {
    left: 0px;
    transform: translateX(-100%)
  }
  100% {
    left: 20px;
    transform: translateX(0%)
  }
}

.close {
  animation: linear forwards alternate;
  animation-name: close;
  animation-duration: 0.3s;
  left: 20px;
}

@keyframes close {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}