.text {
  font-size: 33px;
  position: absolute;
  width: 40%;
  top: 50%;
  /* left: 50%; */
  transform:  translateY(-50%);
}

.additionalInfo {
  position: absolute;
  left: calc(40% + 60px);
  margin-top: -10px;
  height: calc(100% - 55px);
  width: calc(60% - 70px);
  border-left: 3px solid #464646;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 21px;
}

.additionalInfo > div {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  transform: translateX(-50%) translateY(-50%);
  background-color: #464646;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.bold {
  font-weight: 900;
  font-style: italic;
  cursor: pointer;
}

.bold:hover {
  left: 3px;
  position: relative;
  text-decoration: underline;
}

.imageOfMe {
  padding: 10px;
} 

.imageOfMe > div {
  background-image: url("../public/me.png");
  background-color: #464646; /* Used if the image is unavailable */
  /* height: 100%; You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: auto 100%; /* Resize the background image to cover the entire container */
  height: 600px;
}

@media (max-width:1740px) {
  .text {
    font-size: 25px;
  }
}

@media (max-width:1450px) {
  .additionalInfo {
    height: calc(100% - 40px);
  }

  .text {
    font-size: 33px;
  }
}

@media ((max-width:1450px) and (max-height:945px)), (max-height:1120px) {
  .text {
    width: calc(100% - 60px);
    top: auto;
    transform: none;
    position: static;
    font-size: 33px;
  }

  .additionalInfo {
    position: relative;
    left: -30px;
    padding-left: 0;
    margin-top: 20px;
    height: auto;
    width: calc(100% + 60px);
    border-left: none;
    border-top: 3px solid #464646;
  }

  .additionalInfo > div {
    top: auto;
    transform: none;
    position: relative;
    left: 5px;
    width: calc(100% - 40px);
  }
}

@media (max-width:1117px) {
  .text {
    font-size: 25px;
  }

  .additionalInfo > div {
    width: calc(100% - 60px);
  }
}

@media (max-width:686px), ((max-width:1117px) and (max-height:945px)) {
  .text {
    width: calc(100% - 60px);
    top: auto;
    transform: none;
    position: static;
  }

  .additionalInfo {
    position: relative;
    left: -30px;
    padding-left: 0;
    margin-top: 20px;
    height: auto;
    width: calc(100% + 60px);
    border-left: none;
    border-top: 3px solid #464646;
  }

  .additionalInfo > div {
    top: auto;
    transform: none;
    position: relative;
    left: 5px;
    width: calc(100% - 40px);
  }
}