.component {
  background-color: #5c5c5c;
  border-radius: 20px;
  min-width: 150px;
}

.header {
  background-color: #464646;
  height: 45px;
  line-height: 45px;
  color: #828282;
  font-size: 33px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 20px 20px 0 0;
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 700;
  padding-left: 13px;
}

@media (max-width:1450px) {
  .header {
    font-size: 23px;
    height: 30px;
    line-height: 30px;
  }
}