body {
  background-image: url("../public/background.png");
  background-color: black; /* Used if the image is unavailable */
  height: 98vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.header {
  color: #499135;
  font-family: 'STIX Two Text', serif;
  font-size: 95px;
  margin-top: 90px;
  margin-left: 50px;
}

.rectangle {
  height: 50px;
  width: 107vh;
  background-color: #499135;
  rotate: 106deg;
  position: fixed;
  left: 50vw;
  top: 46vh;
}

.component {
  background-color: #5c5c5c;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 150px;
}

.component > .header {
  background-color: #464646;
  height: 45px;
  line-height: 45px;
  color: #828282;
  font-size: 33px;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 20px 20px 0 0;
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 700;
  padding-left: 13px;
}

.link {
  color: #499135;
  font-family: 'STIX Two Text', serif;
  font-size: 55px;
  text-decoration: initial;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.link:hover {
  text-decoration: underline;
  color: #558348;
}

.link > span {
  padding-left: 10px;
}

.link > svg {
  width: 80px;
}