body {
  background-image: url("../public/background.png");
  background-color: black; /* Used if the image is unavailable */
  /* height: 100%; You must set a specified height */
  background-position: right; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: auto 100%; /* Resize the background image to cover the entire container */
  margin-top: 0px;
  color: #499135;
  font-family: 'STIX Two Text', serif;
}

html {
  height: 100%;
}
