.header {
  position: absolute;

}

.headerCenter {
  left: 200px;
  top: 57%;
}

.headerTop {
  left: 20px;
  top: 20px;
}

.icon {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100px;
  position: relative;
}

.iconCenter {
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.iconTop {
  top: 0px;
  left: 0px;
}

.name {
  font-size: 95px;
  width: max-content;
  position: relative;
}

.nameCenter {
  bottom: 200px;
}

.nameTop {
  left: 210px;
  bottom: 100px;
  transform: translateY(-50%);
}