.data {
  font-family: 'STIX Two Text', serif;
  font-size: 18px;
  width: fit-content;
}

.data > tbody {
  vertical-align: top;
}

.data p {
  margin: 0;
}

.title {
  font-family: 'STIX Two Text', serif;
  font-size: 23px;
  font-weight: 400;
  margin: 0;
}

.column {
  width: calc(50% - 10px);
  vertical-align: top;
  display: inline-block;
}

.dropdown {
  font-family: 'STIX Two Text', serif;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  list-style: none;
  display: flex;
}

.dropdown::after {
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  background: url('../public/circle-arrow-down-solid.svg');
  background-size: cover;
  margin-left: .5em;
  transition: 0.2s;
}

details[open] > .dropdown::after {
  transform: rotate(180deg);
}

.dropdown:hover {
  font-style: italic;
  animation: linear forwards alternate;
  animation-name: run;
  animation-duration: 0.1s;
}

@keyframes run {
  0% {
    left: 0;
  }
  100% {
    left: 3px;
  }
}

@media (max-width:655px) {
  .column {
    width: 100%;
    margin-bottom: 1em;
  }
}

@media (max-width:480px) {
  .data > tbody > tr > td {
    display: block;
  }

  .data > tbody > tr {
    display: block;
    margin-bottom: 5px;
  }
}
