.sidebar {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar > div {
  width: 460px;
}

.list {
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.link {
  color: #499135;
  font-size: 55px;
  text-decoration: initial;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'STIX Two Text', serif;
}

.link:hover {
  text-decoration: underline;
  color: #558348;
  font-style: italic;
  animation: linear forwards alternate;
  animation-name: run;
  animation-duration: 0.2s;
}

.displayControl {
  display: none;
  padding-left: 30px;
}

@keyframes run {
  0% {
    left: 0;
  }
  100% {
    left: 5px;
  }
}

.link > span {
  padding-left: 10px;
}

.link > svg {
  width: 80px;
}

@media (max-width:1450px) { 
  .sidebar {
    position: absolute;    
    top: 5px;
    right: 50%;
    transform: translateX(50%);
    width: calc(100% - 40px);
    display: inline-block;
  }

  .sidebar > div {
    width: 100%;
  }

  .link {
    font-size: 25px;
  }

  .list {
    text-align: center;
  }
}

@media (max-width:475px) {
  .list {
    text-align: left;
    display: none;
  }

  .displayControl {
    display: inline;
  }
}
